.env
.htaccess
deploy/
/vendor/
/process/files/
/process/excel/
/process/workorders/
/process/csatts/
/liability/
/temp/
/.vscode/
/process/email/
/quickbooks/truncate.php

/docker_build/config/mysql/ini/*.sql
/docker_build/config/mysql/ini/*.gz
/docker_build/data/mysql/*
/docker_build/logs/mysql/*
/docker_build/logs/apache2/*

/deploy/rsync/snapshots/*
